<div class="card">
  <div class="header">
    <h2 class="title">Flight Search</h2>
  </div>

  <div class="content">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
      <div class="form-group">
        <label>From</label>
        <input class="form-control" type="text" name="from" [(ngModel)]="from" />
      </div>
      <div class="form-group">
        <label>To</label>
        <input class="form-control" type="text" name="to" [(ngModel)]="to" />
      </div>

      <div class="form-group">
        <button [disabled]="searchDisabled" type="submit" class="btn btn-default">Search</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" *ngFor="let flight of flights">
    <app-flight-card
      [flight]="flight"
      [selected]="basket[flight.id]"
      (selectedChange)="updateBasket($event, flight.id)"
    ></app-flight-card>
  </div>
</div>

<div class="card">
  <div class="content">
    <pre>{{ basket | json }}</pre>
  </div>
</div>
