<div class="flight-card" [ngClass]="{ selected: selected }">
  <h2>{{ flight.from }} - {{ flight.to }}</h2>
  <p>Flight No: #{{ flight.id }}</p>
  <p>Date: {{ flight.date | date: 'dd.MM.yyyy HH:mm' }}</p>

  <app-flight-status-toggle [(delayed)]="flight.delayed"></app-flight-status-toggle>

  <ng-container *ngIf="!selected">
    <button class="btn btn-default" (click)="select()">SELECT</button>
  </ng-container>
  <ng-container *ngIf="selected">
    <button class="btn btn-default" (click)="deselect()">DESELECT</button>
  </ng-container>
  <button class="btn btn-default" (click)="onEdit()">Edit</button>
</div>
